/* CSS para o site */

*{
  box-sizing: border-box;
  padding:0;
  margin:0;

  .myButton {
    box-shadow:inset 0px -3px 7px 0px #29bbff;
    background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
    background-color:#2dabf9;
    border-radius:3px;
    border:1px solid #0b0e07;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    padding:9px 23px;
    text-decoration:none;
    text-shadow:0px 1px 0px #263666;
  }
  .myButton:hover {
    background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
    background-color:#0688fa;
  }
  .myButton:active {
    position:relative;
    top:1px;
  }

}

.logo{
  display: flex;
}

.logo AudioIcon{
  width: 1000px;
}

.logo h2{
  font-weight: bold;
}

.App{
  min-height: 960px;
  background-image: url('https://images8.alphacoders.com/129/1298215.jpg');
  background-position: center;
  background-size: cover;
}

.center{
  max-width: 90%;
  margin: 0 auto;
  padding: 0 2%;
  display: flex;
  padding: 25px;
  background: rgba(50, 175, 247, 0.2);
  border-radius: 0px 0px 16px 16px;
  box-shadow: 0 0px 0px 30px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.Main{
  width: 100%;
  padding: 0px 0px 60px 0px;
  min-height: 100px;
}

.menu{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.menu h3 {
  color: rgb(5, 5, 5); 
}

.item-menu a{
  border: 0.5px solid black;
  color: black;
  display: flex;
}

.center2{
  max-width: 70%;
  margin: 0 auto;
  padding: 0 2%;
  display: flex;
  padding: 25px;
  background: rgba(125, 119, 119, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.box{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 40px 0;
  min-height: 100px;
}

.capa img{
    max-width:260px;
    border-radius: 10px;
    width: auto;
    height: auto;
}

.resumo p{
  display: flex;
  margin-right: 50px;
  align-items: center;
  text-align: justify;
}

.player{
  display: none;
  margin-bottom: 0;
  
}

.player audio{
  width: 260px;
  
}

audio::-webkit-media-controls-panel {
  background-color: rgb(91, 150, 251);
  
}

.player .imgbox{
  position: relative;
  
}

.player .imgbox img{
    margin-bottom: -4px;
    max-width:260px;
    border-radius: 10px;
    width: auto;
    height: auto;
    object-fit: cover;;
    
}


/* scrollbar */

::-webkit-scrollbar{
  width: 9px;
}

::-webkit-scrollbar-track{
  background-color: #131313;
}

::-webkit-scrollbar-thumb {
  background-color: #3737f9;
  border-radius: 60px;
  width: 10px;
}

/* Responsivo */

@media(max-width: 875px){
  .box{
    flex-direction: column;
  }
}

@media(max-width: 875px){
  .capa{
    display: none;
  }
}

@media(max-width: 875px){
  .play{
    display: none;
  }
}

@media(max-width: 875px){
  .player{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

@media(max-width: 660px){
  .menu {
    font-size: 12px;
  }
}

@media(max-width: 554px){
  .menu {
    font-size: 10px;
  }
}

@media(max-width: 425px){
  .center2 {
    max-width: 90%;
  }
}

@media(max-width: 425px){
  .center {
    max-width: 100%;
  }
}

@media(max-width: 302px){
  .center2 {
    max-width: 100%;
  }
}